h1
{
    font-family:  'Trebuchet MS', Arial, sans-serif;
    color: red;
    text-align: center;
    margin-top: 0px;
    }

h3
{
    font-family:  'Trebuchet MS', Arial, sans-serif;
    text-decoration: underline;
    text-decoration-color: red;
    color: red;
    }

ul
{
    font-family: 'Trebuchet MS', Arial, sans-serif;
}